<section class="panel search">
    <i class="fa fa-search"></i>
    <input type="text" id="search-bar">
</section>
<section class="panel">
    <h3>Near By Food Trucks</h3>
    <div class="filter" id="filter">
        <label><input type="checkbox" class="check" value="Burgers"> Burgers</label>
        <label><input type="checkbox" class="check" value="Sandwiches"> Sandwiches</label>
        <label><input type="checkbox" class="check" value="Tacos"> Tacos</label>
        <label><input type="checkbox" class="check" value="Hot Dogs"> Hot Dogs</label>
        <label><input type="checkbox" class="check" value="Pizza"> Pizza</label>
        <label><input type="checkbox" class="check" value="Drinks"> Drinks</label>
        <label><input type="checkbox" class="check" value="Fruit"> Fruit</label>
        <label><input type="checkbox" class="check" value="Candy"> Candy</label>
        <label><input type="checkbox" class="check" value="Ice Cream"> Ice Cream</label>
        <label><input type="checkbox" class="check" value="Cupcakes"> Cupcakes</label>
    </div>
    <ul id="truck-list"></ul>
    <div id="loader">
        <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
    </div>
</section>